/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@font-face {
  font-family: tech;
  src: url(tech.ttf);
 }
@font-face {
  font-family: ahonde;
  src: url(ahonde.ttf);
 }

@font-face {
  font-family: play;
  src: url(play.ttf);
 }
@font-face {
  font-family: orbit;
  src: url(orbit.ttf);
 }

body, p, h1, h2, h3, h4,h5, h6, ul, li {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

body, button, a {
    // font-family: "tech", "Verdana";
    font-family: "orbit", "Verdana";

}

body {
	background-color: $bg;
}


.main, header, footer {
	max-width: 992px;
	margin: 0 auto;
} 